.insert {
    margin-top: 30%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    position: relative;
  }

  /* ปุ่มเพิ่มสินค้า */
  .b1 {
    text-align: center;;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  span {

    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
  }

  span a {
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;

  }

  span a:before,
  span a:after {
    position: absolute;
    content: "เพิ่มข้อมูลสินค้า";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 5px;
  }

  span a:before {
    color: #fff;
    background: #000;
    transform: rotateY(0deg) translateZ(25px);
  }

  span a:after {
    color: #000;
    transform: rotateX(90deg) translateZ(25px);
  }

  span a:hover {
    transform: translateZ(-25px) rotateX(-90deg);
  }


  .neons {

    text-align: center;
  }

  .neons h1 {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
  }
  .table{
    width:100%;
  }
  table, th, td{
    border: 1px solid white;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
}

